@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  /* Scissors Colors */
  --scissorsDarkYellow: #ec9e0e;
  --scissorsLightYellow: #eca922;

  /* Rock Colors */
  --rockDarkRed: #dc2e4e;
  --rockLightRed: #dd405d;

  /* Paper Colors */
  --paperDarkBlue: #4865f4;
  --paperLightBlue: #5671f5;

  /* Neutral Colors */
  --darkText: #3b4363;
  --scoreText: #2a46c0;
  --headerOutline: #606e85;
  --white: #fcfcfc;

  /* Background Colors */
  --bgColor1: #1f3756;
  --bgColor2: #141539;

  /* Font Settings */
  --fontFamily: "Barlow Semi Condensed", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily);
}

body{
  background: linear-gradient(var(--bgColor1), var(--bgColor2));
  min-height: 100vh;
  padding: 1.5em 2em;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3.5em;
  position: relative;
  min-height: 62vh;
}